:root {
  --primary-light-color: #fffefc;
  --primary-dark-color: #040404;
  --primary-accent-color: #e16259;
  --border-primery-color: rgb(241, 241, 241);
  --border-secondary-color: rgb(128, 128, 128);
  --bg-primery-color:rgb(192, 192, 192);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-primery-color);
  color: var(--primary-dark-color);
}